<mat-card>
  <mat-card-content>
    <form>
      <mat-form-field class="fullWidth">
        <input [(ngModel)]="question.text" name="question" matInput placeholder="savol">
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <input [(ngModel)]="question.correctAnswer" name="correctAnswer" matInput placeholder="To'g'ri javob">
      </mat-form-field>
      <mat-form-field class="fullWidth" *ngFor="let wrongAnswers of question.wrongAnswers; let i=index;">
        <input [(ngModel)]="wrongAnswers" name="wrongAnswers {{i+1}}" matInput placeholder="Noto'g'ri javob {{i+1}}">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="post()" mat-button>Jo'nat</button>

  </mat-card-actions>
</mat-card>